@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
	background-color: black;
	font-family: 'Bebas Neue';
	color: white;
	text-align: center;
	background-image: url("http://vanzomrealtyauction.com/web/wp-content/uploads/2013/05/5195-grey-texture-1920x1080-abstract-wallpaper-copy.jpg");
	background-size: 500%;
	background-repeat: no-repeat;
}

a:link, a:visited {
 	color: #eeeeee;
 	text-decoration: none;
 	display: inline-block;
}

a:hover, a:active {
 	color: #aaaaaa;
}

h1 {
	color: #FF0000;
	font-size: 250px;
	margin-block-start: 0.20em;
    	margin-block-end: 0.20em;
	text-shadow: 4px 4px #ff0000;
}

a {
	font-size: 200px;
	margin-block-start: 0.1em;
    	margin-block-end: 0.1em;
	text-shadow: 2px 2px #ff0000;
}



@media (min-width:1200px)  {
html {
	background-image: url("http://vanzomrealtyauction.com/web/wp-content/uploads/2013/05/5195-grey-texture-1920x1080-abstract-wallpaper-copy.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
h1 {
	font-size: 200px;
	margin-block-start: 0.05em;
    	margin-block-end: 0.05em;
}

a {
	font-size: 70px;
	margin-block-start: 0.1em;
    	margin-block-end: 0.1em;
}
}
