@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
	background-color: black;
	font-family: 'Bebas Neue';
	color: white;
	text-align: center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

a:link, a:visited {
 	color: #eeeeee;
 	text-decoration: none;
 	display: inline-block;
}

a:hover, a:active {
 	color: #aaaaaa;
}

.header {
	width: 100%;
}

.headertext {
	vertical-align: middle;
	color: #aaaaaa;
	font-size: clamp(15vw, 30vw, 30vw);
	margin-bottom: 0;
	margin-top: 5vw;
	text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6;
	animation: color-change 15s infinite;
	line-height: 85%
}

a {
	font-size: 150px;
	text-shadow: 2px 2px #222;
	position: relative;
}

.block {
	border-radius: 25px;
	border: solid 2px rgba(255, 255, 255, 0.8);
	width: 95%;
	height: auto;
	margin: 1vw;
	text-align: center;
	box-sizing: border-box;
}

.block:hover {
	background-color: rgba(255, 255, 255, 0.25);
}

.blocktable {
	vertical-align: middle;
}

.blockicon {
	float: left;
	margin: 2vw;
	width: 12vw;
	height: 12vw;
	object-fit: contain;
}

.blocktext {
	color: white;
	font-size: 12vw;
    margin: 0;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.footertext {
	margin: 0.5vw;
	font-size: 3vw;
}

@media (min-width:1200px)  {
a {
	font-size: 70px;
	margin: 0px;
	padding: -10px;
}

.headertext {
	margin-top: 2vw;
	font-size: clamp(5em, 8em + 5vw, 5em + 13vw);
}

.block {
	width: 40%;
	margin: 0.5vw;
}

.blockicon {
	width: 5vw;
	height: 5vw;
}

.blocktext {
	font-size: 5vw;
}

.footertext {
	margin: 0.1vw;
	font-size: 1vw;
}

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes color-change {
	0% { color: #fff; }
	50% { color: #ddd; }
	100% { color: #fff; }
}
