@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
	background-color: black;
	font-family: 'Bebas Neue';
	color: white;
	text-align: center;
}

a:link, a:visited {
 	color: #eeeeee;
 	text-decoration: none;
 	display: inline-block;
}

a:hover, a:active {
 	color: #aaaaaa;
}

h1 {
	color: #FF0000;
	font-size: 250px;
	margin-block-start: 0.20em;
    	margin-block-end: 0.20em;
}

a {
	font-size: 200px;
	margin-block-start: 0.1em;
    	margin-block-end: 0.1em;
}



@media (min-width:1200px)  {
h1 {
	font-size: 300px;
	margin-block-start: 0.05em;
    	margin-block-end: 0.05em;
}

a {
	font-size: 70px;
	margin-block-start: 0.1em;
    	margin-block-end: 0.1em;
}
}
