@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
	background-color: black;
	font-family: 'Bebas Neue';
	color: white;
	text-align: center;
}

h1 {
	font-size: 150px;
	margin-block-start: 0.20em;
    	margin-block-end: 0.20em;
}

p {
	font-size: 70px;
}
