@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
	background-color: black;
	font-family: 'Bebas Neue';
	color: white;
	text-align: center;
	background-image: url("background.jpg");
	background-attachment: fixed;
	background-size: 500%;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

a:link, a:visited {
 	color: #eeeeee;
 	text-decoration: none;
 	display: inline-block;
}

a:hover, a:active {
 	color: #aaaaaa;
}

.header {
	width: 100%;
	height: 220px;
}

.headertext {
	vertical-align: middle;
	color: #aaaaaa;
	font-size: 200px;
	margin: 20px;
	text-shadow: 4px 4px #ff0000, -4px -4px #00ffff;
	animation: color-change 15s infinite;
}

a {
	font-size: 150px;
	text-shadow: 2px 2px #222;
	position: relative;
}

.block {
	border-radius: 25px;
	background-color: rgb(65, 65, 65);
	width: 95%;
	height: 220px;
	margin: 10px;
	text-align: left;
	vertical-align: middle;
}

.block:hover {
	background-color: rgb(50, 50, 50);
}

.blockicon {
	float: left;
	margin: 10px;
	padding: 0%;
	vertical-align: middle;
	width: 200px;
	height: 200px;
	object-fit: contain;
}

.blocktext {
	text-align: left;
	color: white;
	font-size: 120px;
	margin: 10px;
	margin-left: 240px;
	margin-top: 40px;
	float: inline-end;
	vertical-align: middle;
	height: max-content;
	position: relative;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	font-size: 25px;
	text-align: center;
}

.footertext {
	margin: 30px;
}

@media (min-width:1200px)  {
html {
	background-size: 100%;
	background-repeat: no-repeat;
}

a {
	font-size: 70px;
	margin: 0px;
	padding: -10px;
}

.header {
	margin: 320px;
}

.headertext {
	font-size: 300px;
}

.block {
	align-self: center;
	width: 40%;
}

.footertext {
	margin: 2px;
	}
}

@keyframes color-change {
	0% { color: #fff; }
	50% { color: #ddd; }
	100% { color: #fff; }
}
