@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}

body {
    height: 100%;
}

.header {
    text-align: center;
    padding-top: 3%;
}

.headertext {
    font-family: 'Bebas Neue';
    font-size: clamp(150px, 30vw, 200px);
    line-height: 90%;
    text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 15px #0ff;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.containerblocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    flex: 1;
    padding-bottom: 5%;
}

.block {
    display: flex;
    border: solid 2px black;
    width: 95%;
}

.blockicon {
    margin: 2vw;
	width: 1em;
	height: 1em;
	object-fit: contain;
}

.blocktext {
    font-size: clamp(70px, 15vw, 80px);
    margin: 5px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}