@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
	background-color: black;
	font-family: 'Bebas Neue';
	color: white;
	text-align: center;
}

.sitetitle {
	font-size: 150 px;
}

.text {
	font-size: 70 px;
}
