@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

body {
    height: 100%;
    color: white;
}

.header {
    text-align: center;
    padding-top: 3%;
    margin: 3vw;
}

.headertext {
    font-family: 'Bebas Neue';
    font-size: 30vw;
    line-height: 90%;
    text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 15px #0ff;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.containerblocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    flex: 1;
    padding-bottom: 5%;
}

.block {
    display: flex;
    border: solid 1vw #fff;
    border-radius: clamp(5px, 5vw, 20px);
    width: 95vw;
    align-items: center;
}

a:link, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.block:hover, .block:active {
    color: #fff;
    background-color: rgba(255,255,255,25%);
}

.blockicon {
    float: left;
    margin: clamp(5px, 2vw, 15px);
	width: 13vw;
	height: 13vw;
	object-fit: contain;
}

.blocktext {
    font-family: 'Bebas Neue';
    font-size: 13vw;
    margin: 5px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}